RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/adapter_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/added_tokens.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/chat_template.jinja
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/sentence_albert_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/sentence_bert_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/sentence_camembert_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/sentence_distilbert_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/.no_exist/84344a23ee1820ac951bc365f1e91d094a911763/sentence_roberta_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/486b40b74e493da9295e67f851141d361e95b284
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/952a9b81c0bfd99800fabf352f69c7ccd46c5e43
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/b1879d702821e753ffe4245048eee415d54a9385
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/bc9cb006ea6982868d4e32f58506b1d17873b21f
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/c5bf064bf9373d01df9cfe9437084f3bd5d33b14
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/c97e65d813d77ea0108fd89696c6e5368a33648d
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/cfc8146abe2a0488e9e2a0c56de7952f7c11ab059eca145a0a727afce0db2865
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/dd6b6e4f52db0a7aff83a13d10e6c5342ef9f6ab799bad3221f4b35ef390fa85
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/f789d99277496b282d19020415c5ba9ca79ac875
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/f59925fcb90c92b894cb93e51bb9b4a6105c5c249fe54ce1c704420ac39b81af
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/blobs/f92397ec9462da6e5e34fa22a43cf234093481e8
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/refs/main
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/config_sentence_transformers.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/model.safetensors
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/modules.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/README.md
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/sentence_xlm-roberta_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/sentencepiece.bpe.model
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/special_tokens_map.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/tokenizer_config.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/tokenizer.json
RAG/models/embedding/models--intfloat--multilingual-e5-large-instruct/snapshots/84344a23ee1820ac951bc365f1e91d094a911763/1_Pooling/config.json
RAG/chroma_db/chroma.sqlite3
RAG/chroma_db/37641c26-0def-42d8-b06b-c1148898865e/data_level0.bin
RAG/chroma_db/37641c26-0def-42d8-b06b-c1148898865e/header.bin
RAG/chroma_db/37641c26-0def-42d8-b06b-c1148898865e/length.bin
RAG/chroma_db/37641c26-0def-42d8-b06b-c1148898865e/link_lists.bin
RAG/__pycache__/rag_api.cpython-311.pyc
RAG/__pycache__/rag_web.cpython-311.pyc
RAG/uploads/長照機構暨長照人員相關管理資訊系統_品質提升管理_介接規格書v3.8.pdf
